.inner-content-wrap {
    .filters {
        &.justify-end {
            justify-content: end !important;
        }
        & ~ div {
            .table-size {
                height: calc(100vh - 126px);
            }
            .white-card {
                min-height: calc(100vh - 126px);
                overflow-x: auto;
            }
        }
        @include d-flex-between;
        background: white;
        padding: 5px 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .left {
            &>* {
                margin-right: 5px;
            }
            @include d-flex-center;
            .form-control-filter {  
                border: 1px solid #dbe2eb;
                padding: 4px 17px;
                border-radius: 3px;
                font-size: 11.3px;
                &.blue {
                    background-color: transparent;
                    border: 1px solid #dbe2eb;
                    color: #333;
                }
            }
            button.filter-btn {
                background: #fff;
                border: none;
                padding: 5px 6px;
                border-radius: 2px;
                font-size: 10.2px;
                font-weight: 600;
                border: 1px solid #d1d8e1;
                font-family: "Inter Tight" !important;
                @include transition;
                cursor: pointer;
                &:hover {
                    background-color: darken($color: #dbe2eb, $amount: 7);
                }
                &.active {
                    background-color: #c4d0de;
                    color: #394e66;
                    padding: 7px 6px;
                    font-size: 10.6px;
                }
            }
            .action_icon_btn {
                background-color: $sc-primary !important;
                color: #ffffff !important;
            }
        }
        .right {
            margin-top: 3px;
        }
    }
}
span.count-bx {
    background: #29b6f6;
    padding: 1px 3px;
    border-radius: 2px;
    color: #fff;
    font-weight: 600;
    font-family: "Inter Tight" !important;
}