<div id="header">
    <div class="left">
        <h2>Driver Shift Record</h2>
    </div>
    <div class="right">
        <!-- <nav-items class="right"></nav-items> -->
    </div>
</div>

<div class="inner-content-wrap">
    <div class="filters">
        <div class="left">
            <button mat-button [matMenuTriggerFor]="menu1">Export PDF Column</button>
            <mat-menu #menu1="matMenu" class="p-2 pe-3">
                <mat-checkbox class="d-block">Select All Columns</mat-checkbox>
                <mat-checkbox class="d-block">Shift Start Address</mat-checkbox>
                <mat-checkbox class="d-block">Shift End Address</mat-checkbox>
                <mat-checkbox class="d-block">Truck Date</mat-checkbox>
                <mat-checkbox class="d-block">Truck Address</mat-checkbox>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="menu2">Export Excel Column</button>
            <mat-menu #menu2="matMenu" class="p-2 pe-3">
                <mat-checkbox class="d-block">Select All Columns</mat-checkbox>
                <mat-checkbox class="d-block">Shift Start Address</mat-checkbox>
                <mat-checkbox class="d-block">Shift End Address</mat-checkbox>
                <mat-checkbox class="d-block">Truck Date</mat-checkbox>
                <mat-checkbox class="d-block">Truck Address</mat-checkbox>
            </mat-menu>
            <button class="filter-btn active"><i class="ki-duotone ki-android">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
                <span class="path6"></span>
            </i>  &nbsp; Android : 1.1.41</button>
            <button class="filter-btn active"><i class="ki-duotone ki-apple">
                <span class="path1"></span>
                <span class="path2"></span>
            </i> &nbsp; Iphone : 2.6.26</button>
        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="row">
        <div [class.col-5]="gl.setRowData && detailFlag" [class.pe-0]="gl.setRowData && detailFlag" [class.col-12]="!gl.setRowData && !detailFlag">
            <div class="table-left-wrap">
            <div *ngIf="getpaged">
                <ag-grid-angular [rowData]="getpaged" #agGrid id="myGrid" class="ag-theme-balham table-size ag-theme-quartz"
                    [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [suppressRowClickSelection]="true"
                    [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"
                    [defaultColDef]="defaultColDef" (filterChanged)="onFilterChanged()"></ag-grid-angular>
            </div>
            <button mat-mini-fab color="primary" class="move-btn" 
            *ngIf="gl.setRowData" (click)="detailFlag = !detailFlag">
            <!-- <mat-icon *ngIf="detailFlag">chevron_right</mat-icon>
            <mat-icon *ngIf="!detailFlag">chevron_left</mat-icon> -->
            <i class="ki-duotone ki-right" *ngIf="detailFlag"></i>
            <i class="ki-duotone ki-left" *ngIf="!detailFlag"></i>
          </button>
        </div>
    </div>
        <div class="col-7 ps-0" *ngIf="gl.setRowData && detailFlag">
            <div class="white-card">
                <p class="p-title d-flex align-items-center my-3">JOB# DET9797896 <span class="ms-2 count-badge black">23</span></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Shift No</th>
                                <th>Shift Starts At</th>
                                <th>Truck</th>
                                <th>Truck Selected At</th>
                                <th>Shift End At</th>
                                <th>Shift Time</th>
                                <th>Overtime</th>
                                <th>Shift Payroll</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex" class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="p-title d-flex align-items-center my-3">JOB# DET9797896 <span class="ms-2 count-badge black">23</span></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Shift No</th>
                                <th>Shift Starts At</th>
                                <th>Truck</th>
                                <th>Truck Selected At</th>
                                <th>Shift End At</th>
                                <th>Shift Time</th>
                                <th>Overtime</th>
                                <th>Shift Payroll</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="p-title d-flex align-items-center my-3">JOB# DET9797896 <span class="ms-2 count-badge black">23</span></p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Shift No</th>
                                <th>Shift Starts At</th>
                                <th>Truck</th>
                                <th>Truck Selected At</th>
                                <th>Shift End At</th>
                                <th>Shift Time</th>
                                <th>Overtime</th>
                                <th>Shift Payroll</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>10/12/2024 00:34</td>
                                <td>TR986</td>
                                <td>10/12/2024 00:34</td>
                                <td>10/12/2024 00:34</td>
                                <td>55 Hours</td>
                                <td>46 Hours</td>
                                <td>$2,450.00</td>
                                <td class="d-flex">
                                    <!-- <mat-icon class="action_icon_btn green me-1">edit</mat-icon>
                                    <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                                    <i class="ki-duotone ki-pencil action_icon_btn green me-1">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                     </i>
                                     <i class="ki-duotone ki-trash action_icon_btn red">
                                       <span class="path1"></span>
                                       <span class="path2"></span>
                                       <span class="path3"></span>
                                       <span class="path4"></span>
                                       <span class="path5"></span>
                                       </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-flow">
        <button mat-fab class="primary" (click)="addRowFlag = true">
            <!-- <mat-icon>description</mat-icon> -->
            <i class="ki-duotone ki-document">
            <span class="path1"></span>
            <span class="path2"></span>
            </i>
        </button>
        <button mat-fab class="primary" (click)="addRowFlag = true">
            <!-- <mat-icon>picture_as_pdf</mat-icon> -->
            <i class="ki-duotone ki-file" title="pdf file">
                <span class="path1"></span>
                <span class="path2"></span>
                </i>
        </button>
        <button mat-fab class="primary" (click)="addRowFlag = true">
            <i class="ki-duotone ki-plus"></i>
        </button>
        <button mat-fab class="secondary" (click)="searchFlag = true">
            <i class="ki-duotone ki-magnifier"> <span class="path1"></span> <span class="path2"></span></i>
        </button>
    </div>
</div>


<div *ngIf="addRowFlag || searchFlag || backToYard || doneForDay" (click)="blackOutFalse()" class="blackout"></div>

<div [@openCloseSearch]="addRowFlag ? true : false" class="slide" style="max-width: 450px">
    <addNewLogComponent></addNewLogComponent>
</div>

<div [@openCloseSearch]="searchFlag ? true : false" class="slide" style="max-width: 350px">
    <search-component></search-component>
</div>

<div [@openCloseAdd]="backToYard ? true : false" class="slide" style="max-width: 850px">
    <backToYard></backToYard>
</div>

<div [@openCloseAdd]="doneForDay ? true : false" class="slide" style="max-width: 850px">
    <doneForDay></doneForDay>
</div>