<div id="header">
  <div class="left">
    <h2>Add Customers</h2>
  </div>
  <div class="right">
    <!-- <nav-items class="right"></nav-items> -->
    <div style="text-align: right">
      <button mat-button class="me-2" routerLink="">Cancel</button>
      <button mat-raised-button mat-accent color="primary" (click)="save()">
        @if(this.gl.setRowData) {
          Update
        } @else {
          Save
        }
      </button>
    
    </div>
  </div>
</div>

<div class="inner-content-wrap full-width">
  <div class="row">
<div class="col-10">
    <mat-accordion>
      <mat-expansion-panel class="mb-3"   [expanded]="true">
        <!-- <mat-expansion-panel-header class="arrow_btn">
          <mat-panel-title>
            Customers Info
          </mat-panel-title>
        </mat-expansion-panel-header> -->
        <div class="row">
          <div class="col-6 p-r-55">
            <h5>Customer Info</h5>
            <div class="row">
            <div class="col-6">
              <div class="input-wrap" [formGroup]="Form">
                <!-- <label class="form-label">Customers Name *</label> -->
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Customers Name" formControlName="name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="Form">
                <!-- <label class="form-label">DBA ALIAS</label> -->
                <mat-form-field appearance="outline">
                  <input matInput placeholder="DBA ALIAS" formControlName="alias">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="Form">
                <!-- <label class="form-label">Time Zone</label> -->
                <mat-form-field appearance="outline" >
                  <mat-select formControlName="timeZoneId" placeholder="Time Zone">
                    @for(timeZone of timeZoneList; track timeZone.timeZoneId) {
                      <mat-option [value]="timeZone.timeZoneId">{{timeZone.timeZoneName}} ({{timeZone.timeZoneCode}})</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="Form">
                <!-- <label class="form-label">URL</label> -->
                <mat-form-field appearance="outline"  >
                  <input matInput placeholder="url" formControlName="url">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="vl"></div>
          <div class="col-6 p-l-55">
            <h5>Working Hours</h5>
            <div class="row">
            <div class="col-6" [formGroup]="Form">
              <mat-checkbox class="me-3" formControlName="isActive">Is Active</mat-checkbox> 
            </div>
            <div class="clearfix"></div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <div class="input-wrap" [formGroup]="Form">
                    <!-- <label class="form-label">Working hours</label> -->
                    <mat-checkbox class="me-3" [(ngModel)]="isWeekDay" formControlName="isWeekEnd">Weekdays</mat-checkbox> 
                  </div>
                </div>
                <div class="col-6">
                  @if(isWeekDay) {
                    <div class="input-wrap" [formGroup]="Form">
                      <mat-checkbox class="me-3 mt-20" (change)="isWeek24($event)" [(ngModel)]="isWeekDay24Hour" formControlName="isWeek24Hour">24 hours</mat-checkbox> 
                    </div>
                  }
                </div>
                @if(isWeekDay && !isWeekDay24Hour) {
                  <div class="row">
                    <div class="col-6">
                        <div class="input-wrap" [formGroup]="Form">
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="url" formControlName="weekDaysHoursTo" type="time">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-wrap" [formGroup]="Form">
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="url" formControlName="weekDaysHoursFrom" type="time">
                          </mat-form-field>
                        </div>
                    </div>
                  </div>
                }
              </div>
            </div>
            <div class="col-6">
              <div class="row" [formGroup]="Form">
                <div class="col-6">
                  <div class="input-wrap mt-20" >
                    <label class="form-label"></label>
                    <mat-checkbox class="me-3" [(ngModel)]="isWeekEnd" formControlName="isWeekEnd">weekend</mat-checkbox> 
                  </div>
                </div>
                @if(isWeekEnd) {
                  <div class="col-6">
                    <div class="input-wrap">
                      <mat-checkbox class="me-3 mt-20" (change)="isWeekEnd24($event)" [(ngModel)]="isWeeEnd24Hour" formControlName="isWeeEnd24Hour">24 hours</mat-checkbox> 
                    </div>
                  </div>
                }
                <div class="row">
                  @if(isWeekEnd && !isWeeEnd24Hour) {
                    <div class="col-6">
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <input matInput type="time" placeholder="url" formControlName="weekEndHoursFrom">
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <input matInput type="time" placeholder="url" formControlName="weekEndHoursTo">
                          </mat-form-field>
                        </div>
                    </div> 
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 p-r-55">
          <div class="row">
            <h5>Address</h5>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="address">
                <!-- <label class="form-label">Address *</label> -->
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Address" formControlName="streetLine1">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="address">
                <!-- <label class="form-label">Country</label> -->
                <mat-form-field appearance="outline">
                  <mat-select formControlName="countryId" (selectionChange)="countryChange($event)" placeholder="Country">
                    @for(country of countries; track country.countryId) {
                      <mat-option [value]="country.countryId">{{country.countryDescription}} ({{country.countryCode}})</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6" [formGroup]="address">
              <div class="input-wrap" >
                <!-- <label class="form-label"><span>State <small>(Select country first)</small></span></label> -->
                <mat-form-field appearance="outline">
                  <mat-select formControlName="stateId" (selectionChange)="stateChange($event)" placeholder="State">
                  @for(state of states; track state.stateId) {
                    <mat-option [value]="state.stateId">{{state.stateDescription}} ({{state.stateCode}})</mat-option>
                  }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap" [formGroup]="address">
                <!-- <label class="form-label">City </label> -->
                <mat-form-field appearance="outline">
                  <mat-select formControlName="cityId" placeholder="City">
                  @for(city of cities; track city.cityId) {
                    <mat-option [value]="city.cityId">{{city.cityDescription}} ({{city.cityCode}})</mat-option>
                  }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!-- <div class="col-6">
              <div class="row">
                
              </div>
            </div> -->
          </div>
          </div>
          <div class="col-6 p-l-55">
            <h5>Others</h5>
            <div class="row">
              <div class="col-6">
                <div class="input-wrap" [formGroup]="address">
                  <!-- <label class="form-label">Postal *</label> -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Postal" formControlName="postalCode">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="input-wrap" [formGroup]="contactPerson">
                  <!-- <label class="form-label">Phone *</label> -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Phone" formControlName="phone">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="input-wrap" [formGroup]="contactPerson">
                  <!-- <label class="form-label">Fax *</label> -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Fax" formControlName="fax">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="input-wrap" [formGroup]="emailMapping">
                  <!-- <label class="form-label">Email *</label> -->
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Email" formControlName="email">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <label class="custom-label-bx">Address</label>
        <hr class="divider ng-star-inserted"> -->
        <!-- <div class="row">
          
        </div> -->
        <!-- <div class="row">
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">Toll free *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Toll free">
              </mat-form-field>
            </div>
          </div>
          
        </div> -->
        <!-- <label class="custom-label-bx">Contact Person</label>
        <hr class="divider ng-star-inserted" >
        <div class="row">
          <div class="col-3">
            <div class="row">
              <div class="col-6">
                <div class="input-wrap">
                  <label class="form-label">First name *</label>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="First name">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="input-wrap">
                  <label class="form-label">Last name *</label>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Last name">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">Email *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email">
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">Designation</label>
              <mat-form-field appearance="outline">
                <mat-select>
                  <mat-option value="option1">Male</mat-option>
                  <mat-option value="option1">Female</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">Phone *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Phone">
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">EXT NO *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="EXT NO">
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">Mobile *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Mobile">
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">FAX *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="FAX">
              </mat-form-field>
            </div>
          </div>
          <div class="col-3">
            <div class="input-wrap">
              <label class="form-label">After hrs. Contact *</label>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Mobile">
              </mat-form-field>
            </div>
          </div>
        </div> -->


      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-2">
    <div class="driver-profile-overview-card">
      <div class="header">Customers Overview</div>
      <ul>
        <li>Customers Info <span class="green-clr">75</span></li>
        <li>Fax Info <span class="orange-clr">65</span></li>
        <li>DBA ALIAS Info <span class="green-clr">55</span></li>
      </ul>
    </div>
  </div>
  
    <!-- <div class="order-detail-tabs vertical-tabs">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>dashboard</mat-icon>
            <p>Personal Info</p>
          </ng-template>
          <div class="row">
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Date Of Birth</label>
                <mat-form-field appearance="outline">
                  <input matInput [matDatepicker]="df">
                  <mat-datepicker-toggle matIconSuffix [for]="df"></mat-datepicker-toggle>
                  <mat-datepicker #df></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Address</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Address">
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">State</label>
                <mat-form-field appearance="outline">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">City</label>
                <mat-form-field appearance="outline">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Postal Code</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Postal Code">
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Home Terminal Address</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Home Terminal Address">
                </mat-form-field>
              </div>
            </div>
          </div>
          <hr class="divider">
          <div class="row">
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">DL No.</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="DL No.">
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Issue State</label>
                <mat-form-field appearance="outline">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <div class="col-6">
                  <div class="input-wrap">
                    <label class="form-label">Issue State</label>
                    <mat-form-field appearance="outline">
                      <input matInput [matDatepicker]="issue">
                      <mat-datepicker-toggle matIconSuffix [for]="issue"></mat-datepicker-toggle>
                      <mat-datepicker #issue></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-wrap">
                    <label class="form-label">CDRP</label>
                    <mat-form-field appearance="outline">
                      <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option1">Option 2</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">SIN / SSN</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="SIN / SSN">
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Doc Type</label>
                <mat-form-field appearance="outline">
                  <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option1">Option 2</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-3">
              <div class="input-wrap">
                <label class="form-label">Doc No.</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Doc No.">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>dashboard</mat-icon>
            <p>Additional Info</p>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>dashboard</mat-icon>
            <p>Device Login Info</p>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>dashboard</mat-icon>
            <p>Driver Payroll</p>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>dashboard</mat-icon>
            <p>Upload Docs</p>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div> -->
  </div>
</div>
