<div id="header">
    <div class="left">
        <h2>Export Order</h2>
    </div>
    <div class="right">
        <nav-items class="right"></nav-items>
    </div>
</div>

<div class="inner-content-wrap">
    <!-- <div class="custom-table-toggle">
        <button (click)="sidebarFlag = true" mat-raised-button color="primary" style="margin: 10px; visibility: hidden;">
           Column Toggle
        </button>
        <div class="sidebar-right" [class.active]="sidebarFlag">
            <ul>
                <li (click)="sidebarFlag = false" style="cursor: pointer; display: flex; align-items: center">
                    <mat-icon  style="margin-right: 6px">close</mat-icon> Close
                </li>
                <li *ngFor="let x of columnDefs">
                    <mat-checkbox (change)="btnClick(x.field, $event)" [checked]="true">{{x.headerName}}</mat-checkbox>
                   
                </li>
            </ul>
        </div>
    </div> -->
    <div *ngIf="getpaged">
        <ag-grid-angular [rowData]="getpaged" #agGrid id="myGrid" class="ag-theme-balham table-size ag-theme-quartz"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100" [suppressRowClickSelection]="true"
            [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()" (gridReady)="onGridReady($event)"
            [defaultColDef]="defaultColDef" (filterChanged)="onFilterChanged()"></ag-grid-angular>
    </div>

    <div class="btn-flow">
        <button mat-fab class="primary" (click)="addRowFlag = true">
            <i class="ki-duotone ki-plus"></i>
        </button>
        <button mat-fab class="secondary" (click)="searchFlag = true">
            <i class="ki-duotone ki-magnifier "> <span class="path1"></span> <span class="path2"></span></i>
        </button>
    </div>
</div>


<div *ngIf="addRowFlag" (click)="addRowFlag = false" class="blackout"></div>
<div [@openCloseAdd]="addRowFlag ? true : false" class="slide" style="max-width: 1080px">
    <div class="slide-header">
        <h3>Add New Row</h3>
        <button mat-icon-button (click)="addRowFlag = false">
            <!-- <mat-icon>close</mat-icon> -->
            <i class="ki-duotone ki-cross">
                <span class="path1"></span>
                <span class="path2"></span>
                </i>
        </button>
    </div>
    @if(addRowFlag) {
        <add-export-orders></add-export-orders>
    }
  
</div>

<div *ngIf="searchFlag" (click)="searchFlag = false" class="blackout"></div>
<div [@openCloseSearch]="searchFlag ? true : false" class="slide" style="max-width: 350px">
    <div class="slide-header">
        <h3>Search</h3>
        <button mat-icon-button (click)="searchFlag = false">
            <!-- <mat-icon>close</mat-icon> -->
            <i class="ki-duotone ki-cross">
                <span class="path1"></span>
                <span class="path2"></span>
                </i>
        </button>
    </div>
    <div class="slide-body">
        <form>
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Select Date Type</label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Select Date Type">
                </mat-form-field>
            </div>
    
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Search Date</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Select Search Date</mat-option>
                        <mat-option value="option1">Current Day</mat-option>
                        <mat-option value="option1">10 Days</mat-option>
                        <mat-option value="option1">Custom Range</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Search</label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Search">
                </mat-form-field>
            </div>
    
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Load/Unload Location</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Active</mat-option>
                        <mat-option value="option1">All</mat-option>
                        <mat-option value="option1">Delivered</mat-option>
                        <mat-option value="option1">Canceled</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Bill To</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Active</mat-option>
                        <mat-option value="option1">All</mat-option>
                        <mat-option value="option1">Delivered</mat-option>
                        <mat-option value="option1">Canceled</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div class="input-wrap flex-input-bx">
                <label class="form-label">Status</label>
                <mat-form-field appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Active</mat-option>
                        <mat-option value="option1">All</mat-option>
                        <mat-option value="option1">Delivered</mat-option>
                        <mat-option value="option1">Canceled</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="slide-footer">
        <button mat-button (click)="searchFlag = false">Close</button>
        <button mat-flat-button color="primary" class="primary">Search</button>
    </div>
</div>