<div id="header">
  <div class="left">
    <h2>Export Order: #{{this.orderNumber}} </h2>
  </div>
  <div class="right">
    <nav-items class="right"></nav-items>
  </div>
</div>

<div class="inner-content-wrap full-width">
  <div class="btn-flow">
    <button mat-fab class="primary" (click)="OpenUploadexcelFilter()">
        <!-- <mat-icon>upload</mat-icon> -->
        <i class="ki-duotone ki-up"></i>
    </button>
</div>

  <mat-accordion>
    <mat-expansion-panel class="mb-3"  >
      <mat-expansion-panel-header class="arrow_btn">
        <mat-panel-title>
          Order details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="row" [formGroup]="Form">
        <div class="col-12">
          <h3 class="heading">Customer Line Details</h3>
        </div>
        <div class="col-4">
          <div class="input-wrap">
            <label class="form-label has-dropdown">
              Customer Name
              <button mat-mini-fab matTooltip="Add new customer">
                <i class="ki-duotone ki-plus"></i>
              </button>
            </label>
            <mat-form-field appearance="outline">
              <mat-select formControlName="billToId" (selectionChange)="changeCustomer($event)">
                @for(customer of customerList; track customer.id) {
                <mat-option [value]="customer.id">{{customer.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          @if(selectedCustomer) {
            <ul class="icon-list">
              <li>
                <!-- <mat-icon>location_on</mat-icon> -->
                <i class="ki-duotone ki-geolocation">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedCustomer?.customerAddresses[0].address.streetLine1}}, {{selectedCustomer?.customerAddresses[0].address.cityName}}, {{selectedCustomer?.customerAddresses[0].address.stateName}}, {{selectedCustomer?.customerAddresses[0].address.countryName}}, {{selectedCustomer?.customerAddresses[0].address.postalCode}}
              </li>
              <li>
                <!-- <mat-icon>mail</mat-icon> -->
                <i class="ki-duotone ki-sms">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedCustomer?.customerAddresses[0].address.contactPerson[0].emailMapping[0].email}}
              </li>
              <li>
                <!-- <mat-icon>call</mat-icon> -->
                <i class="ki-duotone ki-phone">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedCustomer?.customerAddresses[0].address.contactPerson[0].phone}}
              </li>
            </ul>
          }
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-6">
              <div class="input-wrap">
                <label class="form-label">Branch</label>
                <mat-form-field appearance="outline">
                  <mat-select formControlName="carrierId">
                    @for(carrier of branchList; track
                    carrier.carrierId) {
                    <mat-option [value]="carrier.carrierId">{{ carrier.name }} </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap">
                <label class="form-label">Ref Number</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Ref Number" formControlName="refNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap">
                <label class="form-label">PO Number</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="PO Number" formControlName="poNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap">
                <label class="form-label">Order Notes</label>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Order Notes" formControlName="orderNotes">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-6">
                  <div class="input-wrap">
                    <label class="form-label">Price</label>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Price" formControlName="orderPrice">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-6">
                  <div class="input-wrap">
                    <label class="form-label">Currency</label>
                    <mat-form-field appearance="outline">
                      <mat-select formControlName="currencyType">
                        @for(currency of currencyList; track currency.currencyId) {
                        <mat-option [value]="currency.currencyId">{{currency.currencyName}}
                          ({{currency.currencyCode}})</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="input-wrap">
                <label class="form-label">Leg Type</label>
                <mat-form-field appearance="outline">
                  <mat-select formControlName="legType">
                    @for(legType of legTypesList; track legType.legTypeId) {
                    <mat-option [value]="legType.legTypeId">{{legType.legTypeName}}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <hr class="divider my-3">
        <div class="row">
          <div class="col-12">
            <h3 class="heading">Shipping Line Details</h3>
          </div>
          <div class="col-4">
            <div class="input-wrap">
              <label class="form-label">
                Shipping Line Details
                <button mat-mini-fab matTooltip="Add new customer">
                  <i class="ki-duotone ki-plus"></i>
                </button>
              </label>
              <mat-form-field appearance="outline">
                <mat-select formControlName="shippingLineId" (selectionChange)="changeShippingLine($event)">
                  @for(shippingLine of shippingLineList; track shippingLine.id) {
                  <mat-option [value]="shippingLine.id">{{shippingLine.name}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            @if(selectedShippingLine) {
            <ul class="icon-list">
              <li>
                <!-- <mat-icon>location_on</mat-icon> -->
                <i class="ki-duotone ki-geolocation">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedShippingLine?.shippingLineAddresses[0].address.streetLine1}}, {{selectedShippingLine?.shippingLineAddresses[0].address.cityName}}, {{selectedShippingLine?.shippingLineAddresses[0].address.stateName}}, {{selectedShippingLine?.shippingLineAddresses[0].address.countryName}}, {{selectedShippingLine?.shippingLineAddresses[0].address.postalCode}}
              </li>
              <li>
                <!-- <mat-icon>mail</mat-icon> -->
                <i class="ki-duotone ki-sms">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedShippingLine?.shippingLineAddresses[0].address.contactPerson[0].emailMapping[0].email}}
              </li>
              <li>
                <!-- <mat-icon>call</mat-icon> -->
                <i class="ki-duotone ki-phone">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                {{selectedShippingLine?.shippingLineAddresses[0].address.contactPerson[0].phone}}
              </li>
            </ul>
            }
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-6">
                <div class="input-wrap">
                  <label class="form-label">Vessel Arrival Date</label>
                  <mat-form-field appearance="outline">
                    <input matInput [matDatepicker]="df4" formControlName="vgmDate" />
                    <mat-datepicker-toggle matIconSuffix [for]="df4"></mat-datepicker-toggle>
                    <mat-datepicker #df4></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                    <div class="input-wrap">
                      <label class="form-label">No. Of Containers</label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="No. Of Containers" formControlName="noOfContainers">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-wrap">
                      <label class="form-label">Vessel #</label>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Vessel #" formControlName="vesselNo">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-slide-toggle formControlName="highPriority">High Priority</mat-slide-toggle>
              </div>
            </div>
            <div style="text-align: right">
              <button (click)="save()" mat-flat-button color="primary" class="primary">
                Update
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <button mat-button (click)="detailFlag = !detailFlag" class="mb-2">Open Details</button> -->

<div class="row">
  <div 
  [class.col-3]="gl.setRowData && detailFlag" 
  [class.pe-0]="gl.setRowData && detailFlag" 
  [class.col-12]="!gl.setRowData && !detailFlag"
  >
    <div class="table-left-wrap">
      <div class="table-head">
        <button mat-button (click)="addContainerRow()">
          <i class="ki-duotone ki-plus"></i> Add new row
        </button>
        <button mat-button>
          <!-- <mat-icon>upload</mat-icon>  -->
          <i class="ki-duotone ki-black-up">
</i>Upload document
        </button>
      </div>
      <div *ngIf="getpaged">
          <ag-grid-angular [rowData]="getpaged" #agGrid id="myGrid" class="ag-theme-balham table-size ag-theme-quartz"
            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="25" [suppressRowClickSelection]="true"
            [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged()"
            (cellValueChanged)="onCellValueChanged($event)" (gridReady)="onGridReady($event)"
            [defaultColDef]="defaultColDef" (filterChanged)="onFilterChanged()"></ag-grid-angular>
        </div>
        <button mat-mini-fab color="primary" class="move-btn" *ngIf="gl.setRowData" (click)="detailFlag = !detailFlag">
          <!-- <mat-icon *ngIf="detailFlag">chevron_right</mat-icon>
        <mat-icon *ngIf="!detailFlag">chevron_left</mat-icon> -->
          <i class="ki-duotone ki-right" *ngIf="detailFlag"></i>
          <i class="ki-duotone ki-left" *ngIf="!detailFlag"></i>
        </button>
      </div>
    </div>
    <div class="col-9 ps-0" *ngIf="gl.setRowData && detailFlag">
      <div class="white-card">
        <p class="p-title">JOB #{{this.gl.setRowData.containerNo}}, Order #{{this.orderNumber}}</p>
        <div class="order-detail-tabs">
          <mat-tab-group (selectedIndexChange)="onTabChange($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <!-- <mat-icon>dashboard</mat-icon> -->
                <i class="ki-duotone ki-geolocation">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                <p>Location</p>
              </ng-template>
              @if(gl.setRowData && detailFlag) {
                <location-tab-component [selectedContainerId]="this.gl.setRowData.containerId"></location-tab-component>
              }
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-screen">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                </i>
              <p>History</p>
            </ng-template>
            @if(gl.setRowData && detailFlag) {
              <history-tab-component [selectedContainerId]="this.gl.setRowData.containerId"></history-tab-component>
            }
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-user-square">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                </i>
              <p>Assign Job</p>
            </ng-template>
            <assign-tab-form-component [selectedContainerId]="this.gl.setRowData.containerId"></assign-tab-form-component>
            <mat-tab-group class="tab-height" (selectedIndexChange)="onTabChangeInner($event)">
              <mat-tab label="Assign job Planner">
               <planner-component #plannerRef [selectedContainerId]="this.gl.setRowData.containerId" [containerLoadId]="this.gl.setRowData.containerLoad.containerLoadId"></planner-component>
              </mat-tab>
              <mat-tab label="History">
               <history-tab-component #historyTab [selectedContainerId]="this.gl.setRowData.containerId"></history-tab-component>
              </mat-tab>
            </mat-tab-group>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-sms">
              <span class="path1"></span>
              <span class="path2"></span>
              </i>
              <p>Message</p>
            </ng-template>
            <div class="chat-msg">
              <ul>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sapiente cum! Repellendus fugit facere iusto culpa possimus odit eligendi commodi nostrum, blanditiis nulla facilis totam a tenetur soluta placeat suscipit.
                  <span class="date">Sunday, Jan 24th, 2024 at 4.30 AM</span>
                </li>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sapiente cum! Repellendus fugit facere iusto culpa possimus odit eligendi commodi nostrum, blanditiis nulla facilis totam a tenetur soluta placeat suscipit.
                  <span class="date">Sunday, Jan 24th, 2024 at 4.30 AM</span>
                </li>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sapiente cum! Repellendus fugit facere iusto culpa possimus odit eligendi commodi nostrum, blanditiis nulla facilis totam a tenetur soluta placeat suscipit.
                  <span class="date">Sunday, Jan 24th, 2024 at 4.30 AM</span>
                </li>
                <li>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, sapiente cum! Repellendus fugit facere iusto culpa possimus odit eligendi commodi nostrum, blanditiis nulla facilis totam a tenetur soluta placeat suscipit.
                  <span class="date">Sunday, Jan 24th, 2024 at 4.30 AM</span>
                </li>
              </ul>
              <div class="chat-footer">
                <textarea></textarea>
                <button class="send-btn"> 
                  <!-- <mat-icon>send</mat-icon>  -->
                  <i class="ki-duotone ki-send mat-icon">
                  <span class="path1"></span>
                  <span class="path2"></span>
                  </i>
                  SEND</button>
              </div>
            </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-file-up">
                <span class="path1"></span>
                <span class="path2"></span>
                </i>
              <p>Upload Doc</p>
            </ng-template>
            <uplaod-doc-tab-component></uplaod-doc-tab-component>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-dollar">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                </i>
              <p>Job Expenses</p>
            </ng-template>
            <div class="d-flex align-items-center mt-3">
              <mat-checkbox class="me-3">Exclude PMR Value</mat-checkbox>
              <div class="input-wrap me-3">
                <label class="form-label">Extra Charges</label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Extra Charges" type="number">
                  </mat-form-field>
                </div>
                <button mat-flat-button class="primary round_btn">
                  Save
                </button>
              </div>
              <button mat-flat-button class="primary round_btn">
                Save
              </button>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <!-- <mat-icon>dashboard</mat-icon> -->
              <i class="ki-duotone ki-information">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                </i>
              <p>Extra Charges</p>
            </ng-template>
            <div class="responsive-table">
              <table class="table no-bg">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Specific To</th>
                    <th>Description</th>
                    <th>Qty</th>
                    <th>Rate</th>
                    <th>Total</th>
                    <th>Docs</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="input-wrap">
                        <mat-form-field appearance="outline">
                            <mat-select>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <mat-select>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput type="number">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <!-- <mat-icon class="action_icon_btn ">upload</mat-icon> -->
                        <i class="ki-duotone ki-arrow-up mat-icon" title="Upload">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          </i>
                      </td>
                      <td>
                        <!-- <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                        <i class="ki-duotone ki-trash action_icon_btn red">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                        </i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <mat-select>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <mat-select>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                              <mat-option value="option1">Lorem</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap">
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput type="number">
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <div class="input-wrap" style="max-width: 90px">
                          <mat-form-field appearance="outline">
                            <input matInput>
                          </mat-form-field>
                        </div>
                      </td>
                      <td>
                        <!-- <mat-icon class="action_icon_btn ">upload</mat-icon> -->
                        <i class="ki-duotone ki-arrow-up mat-icon" title="Upload">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          </i>
                      </td>
                      <td>
                        <!-- <mat-icon class="action_icon_btn red">delete</mat-icon> -->
                        <i class="ki-duotone ki-trash action_icon_btn red">
                          <span class="path1"></span>
                          <span class="path2"></span>
                          <span class="path3"></span>
                          <span class="path4"></span>
                          <span class="path5"></span>
                        </i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <i class="ki-duotone ki-plus mat-icon">
                        </i>
                        <!-- <mat-icon class="action_icon_btn">add</mat-icon> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div style="text-align: right">
                <button mat-flat-button class="primary round_btn">
                  Save
                </button>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

      </div>
    </div>
  </div>
</div>